{% extends 'temp.html' %}
{% block title %}Create new task{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-5 text-primary">Список задач</h1>
        </div>
    </div>
    <div class="row">
        {% for todo in todo %}
            <div class="col col-xl-3 mb-3">
                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ todo.pk }}. {{ todo.description }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ todo.status }}</h6>
                        <p class="card-text">{{ todo.due_date }}</p>
                        <a href="{% url "task_view" todo.pk %}">Подробнее...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
