{% extends 'temp.html' %}
{% block title %}Task {{ task.pk }}{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'del_view' task.pk %}">Удалить задачу</a>
    </li>
{% endblock %}
{% block body %}
    <div class="col mt-5">
        <div class="card h-100" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ task.pk }}. {{ task.description }}</h5>
                <div class="d-flex">
                    <h6>Статус:</h6>
                    <h6 class="card-subtitle m-0 ps-4 text-muted">{{ task.status }}</h6>
                </div>
                <div class="d-flex">
                    <p>Дата выполнения:</p>
                    <p class="card-text ps-3">
                        {% if task.due_date is None %}
                            <p>-- -- --</p>
                            {% else %}
                            {{ task.due_date|date:"Y-m-d" }}
                        {% endif %}</p>
                </div>
                    {% if task.details is None %}
                        <p>Описание отсутствует</p>
                        {% else %}
                        <p>{{ task.details }}</p>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock %}

